.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 200px 100px 50px 200px 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-container input {
  margin: 10px;

  background-color: #262626;
  color: white;

  font-size: 24px;
  outline: none;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  border: none;
  border-bottom: 2px solid #dbdbdb;
}

.grid-container input:focus {
  border-bottom: 2px solid #858585;
}

.result::placeholder {
  color: white;
}

.grid-container select {
  margin: 10px;

  background-color: #262626;
  color: white;

  font-size: 24px;
  outline: none;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  border: none;
  border-bottom: 2px solid #dbdbdb;
}
