.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  background: url("clipboard.png");
  background-size: 100% 100%;
  color: white;
  border: none;
  margin: 3px;
  transition-duration: 0.1s;
  opacity: 0.7;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

button::after {
  content: "✓";
  font-size: 30px;
  color: green;
  transition: all 0.8s;
  opacity: 0;
}

button:active:after {
  opacity: 1;
  transition: 0s;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 200px 100px 50px 200px 100px 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-container input {
  margin: 10px;

  background-color: #262626;
  color: white;

  font-size: 24px;
  outline: none;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  border: none;
  border-bottom: 2px solid #dbdbdb;
}

.grid-container input:focus {
  border-bottom: 2px solid #858585;
}

.result::placeholder {
  color: white;
}

.grid-container select {
  margin: 10px;

  background-color: #262626;
  color: white;

  font-size: 24px;
  outline: none;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  border: none;
  border-bottom: 2px solid #dbdbdb;
}

@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 80px 60px 25px 80px 60px 50px;
  }
  ::placeholder {
    font-size: 13px;
  }
  .result::placeholder {
    color: white;
    font-size: 18px;
  }

  .grid-container select {
    margin: 10px;

    background-color: #262626;
    color: white;

    font-size: 15px;
    outline: none;

    -webkit-transition: 0.5s;
    transition: 0.5s;

    border: none;
    border-bottom: 2px solid #dbdbdb;
  }
  .grid-container input {
    font-size: 18px;
  }
}
